#!/bin/bash

# Change directory
#alias ..="cd .."
#alias ...="cd ../.."
#alias ....="cd ../../.."
#alias .....="cd ../../../.."

#alias ~="cd ~"

# List
#alias ls='ls -G'
alias l='ls -CF -G'

# List
# long format
alias ll='ls -laF -G'


# Shell
alias reload="exec $SHELL -l"

# Shortcuts
alias ss='emacs --daemon=spacemacs' #start spacemacs
alias cs='emacsclient -nc -s spacemacs'   #connect spacemacs
alias ks="emacsclient -e '(kill-emacs)'"
#alias e='emacsclient -t'
#alias emacs='emacs -nw'

# gomi
#alias rm="gomi"

# peco
# alias g='cd $(ghq root)/$(ghq list | peco)'
alias g='REPO=$(ghq list | sort -u | peco);for GHQ_ROOT in $(ghq root -all);do [ -d $GHQ_ROOT/$REPO ] && cd $GHQ_ROOT/$REPO;done'
alias gh='hub browse $(ghq list | grep github.com | peco | cut -d "/" -f 2,3)'

function peco-history-selection() {
    BUFFER=`history -n 1 | tail -r  | awk '!a[$0]++' | peco`
    CURSOR=$#BUFFER
    zle reset-prompt
}

zle -N peco-history-selection
bindkey '^R' peco-history-selection
