#!/bin/bash

# Change directory
alias ..="cd .."
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."
alias ..5="cd ../../../../.."

alias home="cd ~"

# List
# alias l='ls -CF -G'
# alias ls='ls -G'
alias ls='exa'
alias l='exa --git --icons -a'

## long format
#alias ll='ls -laF -G'
alias ll='exa --long --header --git --icons -a'

# Remove
alias rm='rm -i'

# Move
alias mv='mv -i'

# Copy
alias cp='cp -i'

# Ps
alias ps='procs'

# Cat
alias cat='bat'

# Reload
alias reload="exec $SHELL -l"

# Emacs
# alias ss='emacs --daemon=spacemacs' #start spacemacs
# alias cs='emacsclient -nc -s spacemacs'   #connect spacemacs
# alias ks="emacsclient -e '(kill-emacs)'"
#alias e='emacsclient -t'
#alias emacs='emacs -nw'
#alias ke='pgrep Emacs | xargs kill -9 && open -a Emacs'
#alias emacs='emacs --with-profile default'

# Terraform
alias tfp='terraform plan'
alias tfa='terraform apply'
alias tfi='terraform init'

# gomi
# alias rm="gomi"

# docker-compose
alias dcu='docker-compose up -d'
alias dcd='docker-compose down'

# gsed
alias sed='gsed'

# peco
# alias g='cd $(ghq root)/$(ghq list | peco)'
alias g='REPO=$(ghq list | sort -u | peco);for GHQ_ROOT in $(ghq root -all);do [ -d $GHQ_ROOT/$REPO ] && cd $GHQ_ROOT/$REPO;done'
alias gh='hub browse $(ghq list | grep github.com | peco | cut -d "/" -f 2,3)'

function peco-history-selection() {
    BUFFER="$(history -n 1 | tail -r  | awk '!a[$0]++' | peco)"
    CURSOR=$#BUFFER
    zle reset-prompt
}

zle -N peco-history-selection
bindkey '^R' peco-history-selection
