# tmux
.tmux/plugins/*
.tmux/resurrect/*

# emacs
modules/editor/emacs/.emacs.d/elpa/*
modules/editor/emacs/.emacs.d/network-security.data
modules/editor/emacs/.emacs.d/backups/*
modules/editor/emacs/.emacs.d/recentf
modules/editor/emacs/.emacs.d/undohist
modules/editor/emacs/.emacs.d/transient/*
modules/editor/emacs/.emacs.d/ac-comphist.dat
modules/editor/emacs/.emacs.d/auto-save-list/*
modules/editor/emacs/.emacs.d/.lsp-session-v1

## spacemacs
modules/editor/emacs/.spacemacs.d/.spacemacs.env
modules/editor/emacs/.spacemacs.d/configs/*
!modules/editor/emacs/.spacemacs.d/configs/.gitkeep

## vscode
.vscode/extensions/*
.vscode/argv.json

## ide
.idea/

## misc
bin/rust-analyzer
conda.yaml
.log


## flakes
result
