# tmux
".tmux/plugins/*"
".tmux/resurrect/*"

# emacs
".emacs.d/elpa/*"
".emacs.d/network-security.data"
".emacs.d/backups/*"
".emacs.d/recentf"
".emacs.d/undohist"
".emacs.d/transient/*"
".emacs.d/ac-comphist.dat"
".emacs.d/auto-save-list/*"
".emacs.d/.lsp-session-v1"

## spacemacs
".spacemacs.d/.spacemacs.env"
".spacemacs.d/configs/*"
"!.spacemacs.d/configs/.gitkeep"

## vscode
".vscode/extensions/*"
".vscode/argv.json"

## misc
"bin/rust-analyzer"
"conda.yaml"