set clipboard=unnamed

set surround

nnoremap <C-o> :<C-u>action Back<CR>
nnoremap <C-i> :<C-u>action Forward<CR>
nnoremap <C-S-o> <C-o>
nnoremap <C-S-i> <C-i>

nnoremap <C-c><C-j> :<C-u>action GotoDeclaration<CR>
